<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Source code beautifier / syntax highlighter &ndash; convert code snippets to HTML &laquo; hilite.me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style type="text/css">
      body, html {
        margin:0;
        padding:0;
        color:#333;
        background:#fff;
        font-family:Verdana,Helvetica,Arial,sans-serif;
      }
      input {
          margin:.5em 0;
      }
      #container {
          width:750px;
          margin:1em auto;
      }
      #container > div {
          margin:auto 1em;
      }
      #code2 {
          margin-right:1em;
      }
      #html2 {
          margin-left:1em;
      }
      #main textarea {
          width:100%;
          height:10em;
      }
      #options {
          clear:both;
      }
      #css {
          width:50%;
      }
      #preview {
          padding-bottom: 3em;
      }
      #footer {
          border-top:1px dotted #000;
      }
      #footer p {
          text-align:center;
          font-size:75%;
      }
    </style>
  </head>
  <body>
    <form method="post">
      <div id="container">
        <div id="header">
          <p>
            Copy the source code to the left pane, select the language and the color scheme, and click &quot;Highlight!&quot;. The HTML from the right pane can now be pasted anywhere.
          </p>
        </div>
        <div id="main">
          <div id="code">
            <div id="code2">
              <strong>Source code:</strong><br/>
              <textarea name="code" rows="10" cols="40">{{ code }}</textarea>
            </div>
          </div>
        </div>
        <div id="options">
          <p>
            Language:
            <select name="lexer">
              {% for item in lexers %}
              <option {% if item.0 == lexer %}selected="selected" {% endif %}value="{{ item.0 }}">{{ item.1 }}</option>
              {% endfor %}
            </select>
            Style:
            <select name="style">
              {% for item in styles %}
              <option {% if item == style %}selected="selected" {% endif %}value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>
            <input name="line_numbers" id="line_numbers" type="checkbox" value="1" {% if line_numbers %}checked="checked"{% endif %} /><label for="line_numbers">Lines?</label>
            <input name="copyable" id="copyable" type="checkbox" value="1" {% if copyable %}checked="checked"{% endif %} /><label for="copyable">Non-Copyable?</label>
            <br/>
            CSS:
            <input type="text" id="css" name="css" value="{{ css | escape }}"/>
            <input type="submit" value="Highlight!"/>
          </p>
        </div>
        <div id="preview">
          <p>
            <strong>Preview:</strong>
          </p>
          {% autoescape false %}
          {{ html }}
          {% endautoescape %}
        </div>
        <div id="html">
          <div id="html2">
            <p>
              <strong>HTML:</strong><br />
            </p>
            <textarea
              name="html"
              rows=15 cols=80 
              readonly="readonly"
              onClick="javascript:this.form.html.focus();this.form.html.select();"
              >{{ html }}</textarea>
          </div>
        </div>
        <div id="footer">
          <p>
            The servers do not log anything. The cookies are only used to store your highlighting preferences. Look at them!
          </p>
          <p>
          <a href="https://gitlab.com/ds-unisg/servers/hilite-me">Code</a> (<i>{{ version }}</i>) &bull; Originally made by <a href="http://kojevnikov.com">Alexander Kojevnikov</a>
          </p>
        </div>
      </div>
    </form>
  </body>
</html>
